.color-darkcyan {
    /*color llamado por su nombre*/
color: darkcyan;
}
.color-servientrega {
    /*color llamado por su rgb*/
color: rgb(20,137,67)
}
.color-instagram {
    /*color llamado por su hexadecimal*/
color: #C13584;
}
.color-platzi {
color: rgb(152,202,63);
}