.menu_horizontal {
    display: inline-block;
    background-color:rgb(241, 238, 238);
    width: 100%;
}
ul{
    text-align: center;
}
li{
    display: inline;
    padding-left: 1px;
    padding-right: 1px;
    height: 100%;  
    
}
.menu_horizontal a:hover {
    background-color: rgb(212, 212, 212);
    width: 200%;
}
a{
    text-decoration: none;
    color: black;
    border-right: 2px solid rgb(255, 107, 0);
    padding-left:  0px ;
    padding-right: 5px;
    font-size:1.3em ;
    cursor: pointer;
}
a:hover {
    color: #000;
    height: 100%;
}
.menu_vertical {
    width: 250px;
    height: 150%;
    margin-top:10px; 
}
.vertical_a {
    display: block;
    text-align: center;
    background-color: rgb(87, 87, 86);
    color: rgb(249, 249, 249);
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5%;
    border-right: 8px;
}


