* {
    margin: 0;
    padding: 0;
}
nav {
    background-color: skyblue;
    width: 100%;
    position: fixed;
    top: 0;
}
ul {
    list-style: none;
    text-align: right;
}
li {
    display: inline-block; 
    position: relative;  
}
nav ul li a {
    font-size: 1.3em;
    color: rgb(255, 7, 7);
    text-decoration: none;
    padding: 20px;
    padding-right: 20px;
    display: block;
}
a {
    font-size: 1.3em;
    color: rgb(255, 7, 7);
    text-decoration: none;
    padding: 20px;
    display: block;
}
.children {
    position: absolute;
    display: none;
   background-color: rgb(248, 164, 248);
   text-align: center;
   cursor: pointer;
}
nav ul li:hover .children {
    display: block;
    width: 100%;
}
nav ul li .children li {
    display: block;
    border-bottom: 1px solid wheat;
}
nav ul li:hover {
    background-color: violet;
    transition: .8s;
}
nav ul li .children li a {
    display: block;
}
.main-content {
    margin: 70px 30px;
}
h1 {
    margin: 35px;
    text-align: right;
    color: crimson;
}
p {
    font-size: 1.3em;
    line-height: 1.4em;
    text-align: justify;
}

@media only screen and/*  (min-width:0px) and */ (max-width:680px) {
    nav {
        position: fixed;  
        height: 100%;
        width: 50%;
    }

    nav ul li {
        display: block;
        text-align: left;
    }
}