* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    text-align: left;
    font-size: 1.3em;
    
}

a {
    text-decoration: none;
    color: beige;
    font-size: 1em;
    font-family:'Patua One', cursive;

}
li {
    display: inline-block;
    padding: 10px;
}

.inicio-menu {
    list-style: none ;
    background-color: salmon;
    text-align: center;
    font-size: 1.3em;
}
.content-main {
    margin: 3em;
}