*{
    margin: 0;
    padding: 0;
}
body {
    background-color: rgba(242, 240, 240, 0.976);
}
.head{
    display: grid;
    grid-area: head;
    width: 100%;
    height: 80px;
    background: rgb(42, 0, 136);
    grid-template: " latam     busqueda  barraMenu" auto/
                    3fr        5fr       2fr ;
}

.latam {
    grid-area: latam;
   
}
#textBuscador{
    grid-area: busqueda; 
    background: #fff;
    border: none;
    border-radius: 30px;
    width: 90%;
    margin: 20px auto 20px auto;
    display: block;
    height: 40px;
    outline: none;
    padding-left: 20px;
}
.barraMenu {
    grid-area: barraMenu;
    width: 100%;
    font-size: 1.5em;
    font-weight: 400;
    cursor: pointer;
    color: white;
    text-align: center;
    margin-top: 15px;
 
}
.contenido-div  {
    margin-top: 10px;
    align-items: center;
    font-weight: 600;
    margin-left: 25%;
    width: 50%;
    display: grid;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    text-align: center;
    grid-area: contenido-div;
    box-sizing: border-box;
    grid-template: "economico        economico      economico " 40px
                   "inicio          duracion        llegada " 40px
                   "origen          duracion        destino" 40px
                   "linea-divisora  linea-divisora  linea-divisora"
                   "empty-let       empty           precio" 50px/
                    1fr              1fr            1fr;
    margin-bottom: solid 1px black;
} 
.origen {
    grid-area: origen;
}

.duracion {
    grid-area: duracion;
}
.destino {
    grid-area: destino;
}
.precio {
    grid-area: precio;
    color: blue;
}
.inicio {
    grid-area: inicio;
    color: blue;
}
.llegada {
    grid-area: llegada;
    color: blue;
}
.style-economic {
    grid-area: economico;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px; 
    padding: 5px;
    font-size: .95em;
    width: 150px;
    color: white;
    background-color: darkcyan;
}
.linea-divisora {
    grid-area: linea-divisora;
    margin: 0 20px 0 20px;
    background-color: gray;
    font-size: .2em;
    /* font-size: 1em; */
}