
.box {
    padding-top: 50%;
    margin-top: -90%;
    padding-left: 250PX;
   
}
div.img-prin  , div.img-2 , div.img-3 , div.img-4 {
    background-color: rgb(202, 23, 23);border-radius: 15px;
    cursor: pointer;
    align-content: center;

}


img {
    width: 100%;
}

.content-prin{
    
    display: none;
}
.box  {  
    background-color:rgba(64, 64, 64, .8);
    height: 100vh;
    width: 100%;
    z-index: 100;
    position: absolute;
    display: grid;
    grid-template: "empty-izq     img-prin   img-prin   img-prin  img-prin   img-prin    equis   empty-der "80px
                   "empty-izq     img-prin   img-prin   img-prin  img-prin   img-prin    nul      empty-der"80px
                   "empty-izq     img-prin   img-prin   img-prin  img-prin   img-prin    nul      empty-der"80px
                   "empty-izq     empty-1    empty-2    empty-3   empty-4    empty-5     nul      empty-der"15px
                   "empty-izq     img-2      empty-6    img-3     empty-7    img-4       nul      empty-der"160px/
                    55px        100px       5px      100px      5px       100px          25px         25px;
     
}

.atras{
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin-top: 120px;
}
.sigui{
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin-top: 120px;
}
.img-prin {
    grid-area: img-prin;
    width: 100%;
    display: flex;
}
.img-2 {
    grid-area: img-2;
    width: 100%;
    display: flex;
    
}
.img-3 {
    grid-area: img-3;
    width: 100%;
    display: flex;
   
}
.img-4 {
    grid-area: img-4;
    width: 100%;
    display: flex;
    
}
.redondo{
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50% ;
  margin-top: 90px;
  margin-left: -15px;
  font-size: 2em;
  cursor: pointer;
}

.equis{
    grid-area: equis;
    cursor: pointer;
    float: right;
    height: 30px;
    width: 30px;
}


